:root {
  --dark-blue: #002ead;
  --theme-color: #0a0a23;
  --text-color:#333333;
  --grey-900: #262828;
--grey-800: #48494a;
--grey-700: #636363;
--grey-600: #757778;
--grey-300: #e5e7e8;
--grey-200: #f0f2f3;
--light-grey:#202020;
--blue-600: #0056d2;
--blue-500: #3f8dff;
--blue-400: #86b7ff;
--blue-100: #ebf3ff;
--border-grey:#cdcdcd;
  --header-height: 38px;
  --blue-dark: #002ead;
  --black: #00205b;;
  --white:#fff;
  --display1-lg:2.75rem;
  --t2-fs:1em;
  --t2-ls:0.01em;
  --system-font: "Roboto", sans-serif;;
 }
.bg-1{background-color: #eaac8b;}
.bg-2{background-color:#a3b18a;}
.bg-3{background-color:#6a6b83;}
.bg-site-blue{background-color:var(--black);}
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }


a {
  background-color: transparent; }
img {
  border-style: none; }

 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }



/* breakpoints */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

 
/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}
#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

    .navbar{border-bottom: 1px solid #e9e9e9; }
.navbar-light .navbar-brand, .sitename {
color:var(--black) ;
font-weight: 800;
font-size:25px;
letter-spacing:0.5px;
 margin-right: 20px;
font-family: var(--system-font);
}
.navbar-brand,
.navbar-nav{
    display: flex;
    align-items: center;
}
.navbar-light .navbar-nav .nav-link {
    cursor:pointer;
    font-size: 16px;
    letter-spacing:0.5px;
    display: block;
    border-radius: 4px;
    line-height: 1.5;
    color: #00205b;
   font-family: var(--system-font);
    padding: 10px 12px;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
/*border:1px solid  #f2d123;*/
    margin:0px 20px;
}
.navbar-light .navbar-nav .nav-link:last-child {
background:var(--black);
color:var(--white);

}
.navbar-light .navbar-nav .nav-link:last-child:hover{
color:var(--black);
background:var(--white);
border:1px solid  var(--black);
}
.navbar-light .navbar-nav .nav-link:hover{
font-weight:600;
 }
.navbar-light .navbar-nav .nav-link.active {
background:transparent;
}
.navbar-nav .nav-link.active{background:transparent;}
.navbar .nav-item .dropdown-menu{
    background:white;
    border-radius: 0 0 6px 6px;
    
}
.navbar .nav-item .dropdown-menu .dropdown-item{
cursor:pointer;
 letter-spacing:0.5px;
    display: block;
    border-radius: 4px;
    line-height: 1.5;
    color:black;
    font-family: var(--system-font);
    padding: 10px 12px;
    outline: 0;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
/*border:1px solid  #f2d123;*/
display: flex;
flex-direction: row;
align-items: center;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
 font-weight:600;
 background:transparent;
}
/*.navbar .nav-item .dropdown-menu:last-child{
   right: 4px;
    left: auto;
}*/

/* Media query for responsiveness */
@media (max-width: 992px) {
    .navbar-sidebar.open {
        width: 250px;
    }
     /* Custom CSS for sidebar */
.navbar-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
    background-color: #fff;
    overflow-x: hidden;
    transition: width 0.5s;
    box-shadow: -5px 0 5px -5px #333;
}

}
html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, button, input {box-sizing: border-box;}
.btn{
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 10px 20px; /* Adjust padding as needed */
  text-align:center;
  cursor:pointer;
  justify-content:center;
  display: flex;
  border-radius: 4px;
  }
  body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #1f2833;
    background-color: #fff;;
}
  .btn-custom-dark{
    background:var(--black);
   color:var(--white);
     }
   .btn-custom-dark:hover{
     border:1px solid var(--black);
     color:var(--black)!important;
       } 

     .btn-white{
      background:var(--white);
     color:var(--black);
       }
     img {border-radius:5px;width:100%;}
    /* Center the button within its container */
    .center {
      text-align: center;
    }
    
    /* Style for aligning the button */
    .btn-register {
      display: inline-block;
      margin-top: 10px; /* Adjust margin as needed */
    }
 
section {
 
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 80px;
  line-height:1.5;
  letter-spacing:0.01rem;
  padding-bottom: 80px;
  margin:0 auto;
  background-position: top;
}
.bg-grey{
  background-color:#f0f0f0;
  background-repeat: no-repeat;
  background-size: cover;
 
    }

.banner-design  .card {padding:10px;}
.banner-design .card{
  padding:10px;
  display: flex;
  align-items: center;
  text-align: center;
  
}
.banner-desing .title{margin: 0px 0px 10px 100px; }

.page-banner{
   display: flex;
      position: relative;
       justify-content: center;
       overflow: hidden;
       padding-top: 80px;
       line-height:1.5;
       letter-spacing:0.01rem;
     padding-bottom: 120px;
         align-items: center;
       margin:0 auto;
   }
   

  
   .page-banner .content-text h6{
     /*text-transform: uppercase;*/
     font-size: 16px;
     color:var(--white);
     margin-bottom: 15px;
   }
   .page-banner .content-text-right { margin: 0px 0px 15px 15px;}
   .page-banner .content-text h1{
    margin: 0px 0px 15px 0px;
     padding:30px 0px 16px 0px;
     
   }
   
   .page-banner .content-text p,.page-banner .content-text-right p{
    position: relative;
    max-width: 45.2rem;
    font-size: 1.8rem;
    line-height: 3.1rem;
    }

   .section-title {
    color: #1f2833;
    background-color: #fae110;
    padding:0px 10px 0px 10px;
    margin-bottom:20px;
   
  }

  
  img {border-radius:5px;width:100%;}
  @media (max-width: 992px) {
    .page-banner .content-text,.page-banner .content-text-right {
      margin: 2px;
      text-align: center;
      margin-bottom: 45px;
      
    }
  .page-banner{
  flex-wrap: wrap;padding:0px;}
   }


@font-face {
  font-family: "BrownStd";
  src: url(../fonts/BrownStd-Regular.ttf); }
a {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
 }

p {
  color: #1f2833;
  line-height: 140%;
  font-size: 1.6rem;
  
  line-height: 2.8rem; }

ul li {
  line-height: 2.8rem; }

i.fa-solid {
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "BrownStd", Arial, sans-serif;
  color: #00205b;
  font-weight: 700;
  margin: 0.2rem 0 1.6rem; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit; }

h1 {
  font-size: 4.8rem;
  line-height: 6rem;
  /* 992 px*/ }
  @media (max-width: 991px) {
    h1 {
      font-size: 3.9rem;
      line-height: 5.5rem; } }

h2 {
  font-size: 3.9rem;
  line-height: 4.8rem;
  /* 768 px*/ }
  @media (max-width: 768px) {
    h2 {
      font-size: 3.2rem; } }

h3 {
  font-size: 3.2rem;
  line-height: 4rem;
  /* 768 px*/ }
  @media (max-width: 768px) {
    h3 {
      font-size: 2.5rem; } }

h4 {
  font-size: 2.5rem;
  line-height: 3.4rem; }

h5 {
  font-size: 2rem;
  line-height: 2.8rem; }

h6 {
  font-size: 1.6rem;
  line-height: 2.6rem; }

.h1 {
  font-size: 4.8rem !important;
  line-height: 6rem !important;
  /* 992 px*/ }
  @media (max-width: 991px) {
    .h1 {
      font-size: 3.9rem !important;
      line-height: 5.5rem !important; } }

.h2 {
  font-size: 3.9rem !important;
  line-height: 4.8rem !important;
  /* 768 px*/ }
  @media (max-width: 768px) {
    .h2 {
      font-size: 3.2rem !important; } }

.h3 {
  font-size: 3.2rem !important;
  line-height: 4rem !important;
  /* 768 px*/ }
  @media (max-width: 768px) {
    .h3 {
      font-size: 2.5rem !important; } }

.h4 {
  font-size: 2.5rem !important;
  line-height: 3.4rem !important; }

.h5 {
  font-size: 2rem !important;
  line-height: 2.8rem !important; }

.h6 {
  font-size: 1.6rem !important;
  line-height: 2.6rem !important;}


input#edit-submit {
  margin-top: 2.4rem; }


input,
select {
  padding: 0.6rem 1.2rem;
  height: 4rem;
  width: 100%;
  max-width: 100% !important;
  border: 0.1rem solid #35414b;
  color: #1f2833;
  font-size: 1.8rem;
  line-height: 1.6875rem;
  border-radius: 0.4rem;
  /* 768 px*/ }
  @media (max-width: 768px) {
    input,
    select {
      width: 100%;
      max-width: 100% !important; } }

  
 
  .card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: unset;
    -webkit-box-orient: vertical;
    height: 100%; 
}


/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {

  padding: 80px 0;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{margin :60px 0px 0px 0px;
padding:20px 0px 20px 0px;
}
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color:inherit;
}

.contact .social-links {
  padding-bottom: 20px;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
   background:#fff;
  color:var(--black);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #3498db;
}

.contact .social-links a:hover {
  background:var(--black);
  color: #fff;
}

.contact .info {
  background:transparent;
}

.contact .info i {
  font-size: 32px;
  color: var(--black);
  float: left;
  line-height: 1;
}

.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background:var(--black);
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background:var(--black);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
}





@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  padding-top: 5px;
  color: #222222;
}

#footer .footer-links a {
  color: #222222;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #3498db;
}
/*# sourceMappingURL=style.css.map */